* text=auto !eol
/CODING_STYLE.org -text
/COPYING -text
/README.org -text
/address.h -text
/bmc.c -text
/bmc.h -text
/clock.c -text
/clock.h -text
/clockadj.c -text
/clockadj.h -text
/clockcheck.c -text
/clockcheck.h -text
/config.c -text
/config.h -text
/contain.h -text
/create_package.sh -text
/ddt.h -text
/default.cfg -text
/dm.h -text
/ds.h -text
/ether.h -text
/fault.c -text
/fault.h -text
/fd.h -text
/filter.c -text
/filter.h -text
/filter_private.h -text
/foreign.h -text
/fsm.c -text
/fsm.h -text
/gPTP.cfg -text
/hwstamp_ctl.8 -text
/hwstamp_ctl.c -text
/incdefs.sh -text
/linreg.c -text
/linreg.h -text
linux/ptp_clock.h -text
/makefile -text
/mave.c -text
/mave.h -text
/missing.h -text
/mmedian.c -text
/mmedian.h -text
/msg.c -text
/msg.h -text
/notification.h -text
/ntpshm.c -text
/ntpshm.h -text
/pdt.h -text
/phc.c -text
/phc.h -text
/phc2sys.8 -text
/phc2sys.c -text
/phc_ctl.8 -text
/phc_ctl.c -text
/pi.c -text
/pi.h -text
/pmc.8 -text
/pmc.c -text
/pmc_common.c -text
/pmc_common.h -text
/port.c -text
/port.h -text
/print.c -text
/print.h -text
/ptp4l.8 -text
/ptp4l.c -text
/raw.c -text
/raw.h -text
/servo.c -text
/servo.h -text
/servo_private.h -text
/sk.c -text
/sk.h -text
/stats.c -text
/stats.h -text
/sysoff.c -text
/sysoff.h -text
/timemaster.8 -text
/timemaster.c -text
/tlv.c -text
/tlv.h -text
/tmv.h -text
/transport.c -text
/transport.h -text
/transport_private.h -text
/udp.c -text
/udp.h -text
/udp6.c -text
/udp6.h -text
/uds.c -text
/uds.h -text
/util.c -text
/util.h -text
/version.c -text
/version.h -text
/version.sh -text
